<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <title>在线简历编辑器</title>
  <link rel="stylesheet" href="/src/css/style.css">
</head>
<body>
  <div id="app">
    <aside>
      <button class="btn" @click="loginShow">登录</button>
      <button class="btn" @click="signUpShow">注册</button>
    </aside>
    <main>
      <div class="resume">
        <h2 contenteditable="true" v-text="resume.name"></h2>
      </div>
    </main>
    <div class="login" v-show="loginTaggle" >
      <div>
          <input type="text" v-model="login.username">
          <input type="password" v-model="login.password">
          <button @click="gologin">登录</button>
      </div>
      
    </div>
    <div class="signup" v-show="signUpTaggle" >
      <div>
          <input type="text" v-model="signup.username">
          <input type="password" v-model="signup.password">
          <button @click="gosignUp">注册</button>
      </div>
      
    </div>
  </div>
<script src="/vendors/av.min.js"></script>
<script src="/src/js/avinit.js"></script>
<script src="/vendors/vue.min.js"></script>
<script src="./js/app.js"></script>
</body>
</html>